<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PersonalAccessToken" value="hwgvv4rtd6mzk5xs47qsfubvtd6jjy4hz3kehog5xs34v2gpkw4a" />
    <add key="RestApiBaseUri" value="http://era-srd-dev:8080/tfs/ERA-SRD_Collection/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>